.container_textarea{
    
    display: flex;
	align-items: center;
	justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 0%;
    
}

.text{
    width: 100%;
            
}