.post_card {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.card_text {
	flex-grow: 1;
	
}
.thypografy{
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.thypografy1{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.like {
	margin-top: 10px;
}